<template>
	<tbody>
		<tr>
			<td>
				<p>{{numberList}}</p>
			</td>
			<td>
				<p>{{todo.text}}</p>
			</td>
			<!-- <td>
				<p>{{todo.status}}</p>
			</td> -->
			<td>
				<input type="checkbox" v-on:change="setStatus(todo.id)">
			</td>
			<td>
				<button class="btn" @click="$emit('editTodo')">Edit</button>
			</td>
			<td>
				<button class="btn" @click="$emit('removeTodo', index)">Remove</button>
			</td>
		</tr>
	</tbody>
</template>
<script>
	export default {
		name: 'TodoItem',
		props: {
			todo: String,
			index: Number
		},
		computed: {
			numberList: function () {
				return this.index + 1
			}
		}
	}
</script>