<template>
	<div id="app">
		<img alt="Vue logo" src="./assets/logo.png">
		<h3>Todo List</h3>
		<input v-model="new_todo">
		<button @click="addTodo">Add</button>
		<p>{{warning}}</p>
		<center>
			<table>
				<thead>
					<tr>
						<th>No</th>
						<th>Task</th>
						<!-- <th>Status</th> -->
						<th colspan="3">Action</th>
					</tr>
				</thead>
				<TodoItem v-for="(todo, index) in todos" :key="index" :todo="todo" :index="index" v-on:removeTodo="removeTodo($event)" v-on:editTodo="editTodo(todo.id, todo.name)"></TodoItem>
			</table>
			<div>
				<input type="text" name="" v-model="edit_todo">
				<button @click="save()">save</button> <button @click="cancel()">cancel</button>
			</div>
		</center>
	</div>
</template>

<script>
	import HelloWorld from './components/HelloWorld.vue'
	import TodoItem from './components/TodoItem.vue'

	export default {
		name: 'app',
		components: {
			HelloWorld,
			TodoItem
		},
		data() {
			return {
				edit_todo: "",
				id_todo: "",
				new_todo: "",
				todos: [
				{ id: "1", text: "lorem amet", status: "" },
				{ id: "2", text: "lorem ipsum", status: "" },
				{ id: "3", text: "lorem dolor", status: "" },
				],
				warning: ''
			}
		},
		methods: {
			setStatus(id) {
				this.todos.find((todo) => todo.id == id)
				if (this.todos.status == "done") {
					this.todos.status = "";
				} else {
					this.todos.status = "done";
				}
			},
			addTodo() {
				const dataTodo = {
					id: this.todos.length + 1,
					text: this.new_todo,
					status: ""
				};
				this.todos.push(dataTodo)
			},
			doneTodo() {
				const tmpTodos = this.todos.filter((todo) => todo.status == "done");
				return tmpTodos.length;
			},
			removeTodo(index) {
				this.todos.splice(index, 1)
			},
			editTodo(id, text) {
				this.edit_todo = text;
				this.edit_id = id;
			},
			save() {
				const tmpTodos = this.todos.find(todo => todo.id == this.edit_id);
				tmpTodos.text = this.edit_todo;
			},
			cancel() {
				this.edit_todo = "";
				this.edit_id = "";
			}
		},
		watch: {
			new_todo: function (newValue, oldValue) {
				if (this.new_todo.length > 10) {
			        // maka akan ada warning
			        this.warning = 'Maksimal 10 karakter!'
			    } else {
			    	this.warning = ''
			    }
			}
		}
	}
</script>